body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#contentContainer {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

main {
    padding: 20px;
    background-color: #d8cbcb69;
    border-radius: 8px;
}

h1 {
    margin-top: 0;
}


.container {
    display: flex;
    height: 100vh;
}

.logoWebsite {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    border-bottom: orangered double;
}

.navDesign {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links>ul>li>a {
    text-align: center;
    font-size: large;
    border-top: 1px solid rgba(128, 128, 128, 0.644);
    border-bottom: 1px solid rgba(128, 128, 128, 0.644);
}

.navDesign .nav-links ul {
    padding: 0;
}

.navDesign .nav-links ul li {
    margin: 10px 0;
}

.navDesign a {
    color: white;
    text-decoration: none;
    display: block;
}

.navDesign a:hover {
    text-decoration: underline;
}




