body {
    margin: 0;
    font-family: Arial, sans-serif;
}


#contentContainer {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

main {
    padding: 20px;
    background-color: #d8cbcb69;
    border-radius: 8px;
}

h1 {
    margin-top: 0;
}


.container {
    display: flex;
    height: 100vh;
}

.logoWebsite {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    border-bottom: rgba(138, 123, 118, 0.808) double;
    transition: color 0.75s ease-in-out;
}

.logoWebsite:hover {
    color: orangered;
}

.navbar {
    width: 15rem;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%; 
}

#contentContainer {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
}




.nav-links ul {
    list-style-type: none;
}

.nav-links>ul>li>a {
    text-align: center;
    font-size: large;
    
}

.navbar .nav-links ul {
    padding: 0;
}

.navbar .nav-links ul li {
    margin: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: block;
}

nav>div>ul>li>a {
    color: white;
    text-decoration: none;
    display: block;
    transition: color 0.5s ease, border-bottom-color 0.5s ease, background-color 0.5s ease; 
    border-bottom: 2px solid transparent;
    font-weight: bolder;
    padding-top: 10%;
    padding-bottom: 10%;
}

nav>div>ul>li>a:hover {
    background-color: rgb(46, 25, 25);
    text-decoration: none; 
    color: rgba(248, 122, 77, 0.836); 
    border-bottom-color: rgba(248, 122, 77, 0.836); 
    
}









.footerCustom {
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    text-align: center;
}

footer>p {
    margin: 0;
    padding: 0;
    
}